@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400);


body {
	background-color: #ebf1f5;
	color: #444;
	font-family: "Ubuntu", "Trebuchet MS", sans-serif;
	font-weight: 300;
	background-position: 0 50%;
	background-repeat: no-repeat;
}

.user-panel {
    background-color: #e1e6eb;
    color: #666;
    margin-bottom: 20px;
}

.user-panel .user-profile {
    width: 42px;
    height: 42px;
    float: left;
    margin-right: 10px;
}

.user-panel p {
    line-height: 21px;
    margin: 0;
}

.login-form input {
	margin-bottom: 10px;
}

.reset-password {
    font-weight: 300;
}

.login-text strong {
    font-weight: 500;
}

.chooseCourseBlank {
    display: inline-block;
    margin-top: 7px;
}

.courseChooser label {
    font-weight: 300;
}

.courseChooser .courseCode {
    margin-left: 1em;
    color: #666;
}

.courseChooser .courseID {
    margin-left: 1em;
    color: #999;
}

.alert a {
    color: #31708f;
    text-decoration: underline;
}

.alert .term {
    color: #31708f;
}

@media (min-width: 992px) {
    
    .breadcrumb {
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 0;
        border: 1px solid #e1e6eb;
        padding: 0;
    }
    
    .breadcrumb li {
        padding: 0;
        border-right: 1px solid #e1e6eb;
        margin-left: -0.2em;
    }
    
    .breadcrumb li i {
        margin-right: 0.5em;
    }
    
    .breadcrumb a {
        color: #777;
        padding: 10px;
        display: inline-block;
        text-decoration: none;
    }
    
    .breadcrumb a:hover {
        color: #666;
        text-decoration: none;
        background-color: #f6f6f6;
    }
    
    .breadcrumb > li + li::before {
        content: none;
    }
    
    .breadcrumb li:first-child {
        margin-left: 0;
    }
    
    .breadcrumb li.last {
        border-right: none;
    }
    
    .breadcrumb li.help-now {
        border-right: none;
        margin-left: none;
        float: right;
    }
    
    .breadcrumb li.help-now a {
        color: #00843D;
    }
    
    .breadcrumb li.help-now a:hover {
        color: #007837;
    }
    
    .breadcrumb .divider {
        display: none;
    }

}

@media (max-width: 767px) {
    form.help-search-form {
        margin-top: 0;
    }
}

@media (max-width: 991px) {
        
    .breadcrumb {
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 0;
        border: 1px solid #e1e6eb;
        padding: 0;
    }
    
    .breadcrumb li {
        padding: 0;
        border-bottom: 1px solid #e1e6eb;
        display: block;
    }
    
    .breadcrumb li i {
        margin-right: 0.5em;
    }
    
    .breadcrumb a {
        color: #777;
        padding: 10px;
        display: block;
        text-decoration: none;
    }
    
    .breadcrumb a:hover {
        color: #666;
        text-decoration: none;
        background-color: #f6f6f6;
    }
    
    .breadcrumb > li + li::before {
        content: none;
    }
    
    .breadcrumb li.help-now {
        border-bottom: none;
    }
    
    .breadcrumb li.help-now a {
        color: #00843D;
    }
    
    .breadcrumb li.help-now a:hover {
        color: #007837;
    }
    
    .breadcrumb .divider {
        display: none;
    }
    
    #feedback {
        margin-top: 10px;
    }
}

.page-header {
    background-color: #003865;
	border-bottom: 1px solid #002645;
	box-shadow: 0 1px 3px #4f5961;
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 10px 0;
    overflow: hidden;
}

.page-header .logo {
    width: 172px;
    height: 54px;
	background-image: url('../img/logo.png');
	text-indent: -1000em;
	margin: 0;
	float: left;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.page-header .logo {
		background-image: url('../img/logo-retina.png');
		background-size: 172px 54px;
	}
}

.help-search-form {
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
	color: #4970A0;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 20px;
	line-height: 1.4em;
}

h2 {
	font-size: 1.7em;
}

h3 {
	font-size: 1.5em;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1.1em;
}

h6 {
	font-size: 1em;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.article {
    margin-bottom: 20px;
}

.article h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.article h4 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.island.rate-form .row {
    margin-left: -5px;
    margin-right: -5px;
}

.island.rate-form .row .col-xs-6, .island.rate-form .row .col-md-3, .island.rate-form .row .col-xs-12, .island.rate-form .row .col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

#feedback {
    height: 74px;
    margin-bottom: 10px;
}

.rate-badge {
    display: block;
    margin: 0;
    border: 1px solid #e1e6eb;
    border-radius: 6px;
    padding: 20px 10px;
    text-align: center;
    cursor: hand;
}

.rate-badge.selected {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    background-color: #DEF2FF;
}

.rate-badge img {
    margin-bottom: 20px;
}

.rate-badge span {
    display: block;
    font-size: 1.2em;
    color: #777;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 10px;
    padding-right: 10px;
}

.iconGrid {
    margin-top: 20px;
    margin-bottom: 20px;
}

.iconGrid a {
    text-decoration: none;
}

.iconGrid li {
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.iconGrid .icon {
    display: block;
    color: #fff;
    font-size: 60px;
    line-height: 100px;
    width: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 50px;
    background-color: #777575;
    border: 1px solid #e1e6eb;
}

.iconGrid .text {
    display: block;
    color: #555;
    text-align: center;
    font-weight: 400;
    height: 40px;
}

.icon.icon-primary {
    background-color: #428bca;
    border: 1px solid #e1e6eb;
}

.icon.icon-danger {
    background-color: #d9534f;
    border: 1px solid #e1e6eb;
}

.space-below {
    margin-bottom: 20px;
}

.content-box {
    margin-bottom: 20px;
}

.content-box p:last-child {
    margin-bottom: 0;
}

.island.course-details {
    margin: 20px 60px;
    background-color: #eee;
    border-color: #ddd;
    border-radius: 0;
}

.course-details-inline .course-details {
    margin: 0;
    margin-bottom: 10px;
}

.island .island {
    background-color: #f6f6f6;
    border-color: #e2e5e7;
    border-radius: 0;
}

.island {
    background-color: #fff;
    border: 1px solid #e1e6eb;
    border-radius: 4px;
    margin-bottom: 20px;
}

.island *:last-child {
    margin-bottom: 0;
}

.island-header {
    padding: 5px 10px;
    border-bottom: 1px solid #e1e6eb;
}

.island-body {
    padding: 10px;
}

.island-main {
    padding: 20px;
}

.island-body p:last-child, .island-body ul:last-child, .island-body ul li:last-child {
    margin-bottom: 0;
}

.island-body .media h3 {
    font-size: 1.2em;
}

.list-title-only h3 {
    line-height: 32px;
    margin-bottom: 0;
}

.list-title-one-line-summary h3 {
    line-height: 32px;
    margin-bottom: 0;
}

.list-title-one-line-summary .media-left {
    padding-top: 10px;
}

.island-body .category-link {
    display: block;
    text-decoration: none;
}

.island-body .category-link p {
    color: #444;
}

.island-header h3 {
    font-size: 1.2em;
    margin: 0;
}

.island-footer {
    padding: 5px 10px;
    border-top: 1px solid #e1e6eb;
    color: #777;
}

.island-footer a {
    color: #999;
    text-decoration: none;
    margin-right: 10px;
}

.island-footer a:last-of-type {
    margin-right: 0;
}

.island-footer a:hover {
    color: #777;
    text-decoration: none;
}

.island-footer a i {
    margin-right: 0.3em;
}

footer {
    padding-top: 20px;
}

footer .glasgow {
	color: #003865;
	margin: 0;
	margin-bottom: 10px;
}

footer p {
	margin-bottom: 10px;
	color: #4F5961;
}

footer .container {
	margin-top: 20px;
}

.footer-links h4 {
	padding: 0;
	font-size: 1em;
	line-height:19px;
	vertical-align: baseline;
	color: #003865;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
	margin-bottom: 10px;
}

.footer-links ul {
	margin: 0;
	margin-bottom: 20px;
	padding-left: 0;
}

.footer-links li {
	display: block;
	margin-bottom: 5px;
}

.form-horizontal .form-group {
    margin-left: -10px;
    margin-right: -10px;
}

label {
    font-weight: 500;
}

.island .form-group:last-of-type {
    margin-bottom: 0;
}

.big-error {
    color: #777;
    margin: 10px;
    text-align: center;

}

.big-error i {
    display: block;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
}

.big-error p {
    margin: 0;
    font-size: 20px;
}

.sidebar h4 {
    font-size: 1em;
    font-weight: 400;
    color: #444;
    margin-top: 0;
    margin-bottom: 5px;
}

.sidebar ul {
    margin: 0;
    margin-bottom: 20px;
    padding-left: 0;
    text-indent: none;
}

.sidebar *:last-child {
    margin-bottom: 0;
}

.sidebar form {
    margin-bottom: 20px;
}

.sidebar ul li {
    display: list-item;
    list-style: disc;
    margin: 0;
    margin-bottom: 5px;
    margin-left: 20px;
}

.sidebar ul li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
}

.sidebar a {
    color: #444;
}

.sidebar .active {
    background-color: #F6F7F9;
    margin-left: -2px;
    margin-right: -2px;
    padding-left: 2px;
    padding-right: 2px;
}

.island-footer .more-info-link {
    color: #005398;
}

.island-footer .more-info-link:hover {
    color: #0076D8;
}

.course-details .course-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.course-details .course-title .course-code {
    color: #999;
}

.course-details .course-category {
    font-size: 1em;
    color: #444;
    font-weight: 500;
    margin-bottom: 5px;
}

.help-option {
    margin-bottom: 10px;
}

.help-option.last {
    margin-bottom: 7px;
}

.form-horizontal .help-block {
    padding-left: 20px;
}

.block-image {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.block-image img {
    margin: 0 auto;
    border-radius: 4px;
}

.term {
    font-weight: 500;
    color: #555;
}

@media print {
    
    body {
        font-size: 12pt;
        line-height: 1.5em;
        padding: 0;
    }
    
    .page-header, .sidebar, footer, .rate-form, .breadcrumb {
        display: none !important;
    }
    
    .row {
        margin: 0;
        padding: 0;
    }
    .col-sm-8 {
        width: intrinsic;
        overflow: visible;
        padding: 0;
        margin: 0;
        left: inherit;
        right: inherit;
        position: inherit;
        box-sizing: border-box;
    }
    
    .island-main {
        border: none;
        box-sizing: inherit;
        padding: 0;
        margin: 0;
    }
    
}